button{
    color: white;
    border: 0;
    border-radius: 6px;
    padding: 4px 12px;
    font-weight: normal;
    width: 120px;
    margin: 8px
}

.btn_start{
    background-color: #FF4F0C;
    position: relative;
    top: 140px;
    left: 200px;
}

.btn_start:hover{
    background-color: #f96f39;
}

.btn_next{
    background-color: blue;
    position: relative;
    top: 30px;
    left: 200px;
}

.btn_share{
    background-color: blue;
}

.btn_replay{
    background-color: rgba(245, 245, 245, 0.8);
    color: blue;
}
.btn_disabled{
    background-color: rgb(68, 68, 255);
}

.btn_next:hover, .btn_share:hover{
    background-color: rgb(68, 68, 255);
}

.btn_replay:hover{
    background-color: rgba(0, 0, 255, 0.105);
}